[flake8]
max-line-length = 300
ignore = E501, E701, W503, E704, F401, W291, E302, E305, F821
exclude =
    taxE_backend/lib/python3.12/site-packages/wheel/*,
    taxE_backend/lib/python3.12/site-packages/packaging/*,
    taxE_backend/lib/python3.12/site-packages/*
